@import "@/assets/css/variables";

.tui-chat {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;

  &-default {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8794a1;
    background: #eef3f7;

    h1 {
      margin: 0;
      font-size: 22px;
      font-weight: 600;
      color: #60707f;
    }
  }

  &-header {
    height: 60px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    background: #fff;
  }

  &-message-list {
    flex: 1;
    overflow: hidden;
    display: flex;
  }

  &-leave-group {
    font-size: 14px;
    height: 160px;
    border-top: 1px solid #efefef;
    justify-content: center;
    align-items: center;

    &-mobile {
      height: 50px;
    }
  }

  &-message-input-toolbar {
    border-bottom: none;
    background: transparent;
  }

  &-message-input {
    height: 156px;
    display: flex;
    background: #fff;
  }
}

html.dark {
  .tui-chat {
    &-default {
      background: #18191a;
      color: #9ca3af;

      h1 {
        color: #d1d5db;
      }
    }

    &-header,
    &-message-input {
      background: $dark-main-color;
    }

    &-message-input-toolbar {
      border-bottom: none;
      background: transparent;
    }
  }
}
